{% extends "base.html" %}

{% block content %}
  <h1>Newspaper № {{ newspaper.id }}</h1>
  <h3><strong><i>{{ newspaper.title }}</i></strong><br></h3>
  <h5>Topic:</h5>
  <div class="ml-3">
    <p>{{ newspaper.topic }}</p>
  </div>

  <h5>Content:</h5>
  <div class="ml-3">
    <p>{{ newspaper.content }}</p>
  </div>

  <h5>Publishers:</h5>
  <div class="ml-3">
    {% for redactor in newspaper.publishers.all %}
      <p>
        <a href="{% url 'bureau:redactor-detail' pk=redactor.id %}">
          {{ redactor.username }}
        </a>
        <strong>({{ redactor.first_name }} {{ redactor.last_name }})</strong>
      </p>
    {% endfor %}
  </div>

  <h5>Published date:</h5>
  <div class="ml-3">
    {{ newspaper.published_date }}
  </div>
  <br>
  <div>
    {% if user not in newspaper.publishers.all %}
      <a class="btn btn-success"
         href="{% url 'bureau:assign-to-newspaper' pk=newspaper.id %}">
        Assign me to this newspaper
      </a>
    {% else %}
      <a class="btn btn-danger"
         href="{% url 'bureau:delete-from-newspaper' pk=newspaper.id %}">
        Delete me from this newspaper
      </a>
    {% endif %}
  </div>
  <br>
  <h3><a class="btn btn-primary" href="{% url 'bureau:newspaper-update' pk=newspaper.id %}">Update ✏</a> |
  <a class="btn btn-danger" href="{% url 'bureau:newspaper-delete' pk=newspaper.id %}">Delete 🗑</a></h3>
{% endblock %}
