{% extends "base.html" %}

{% block content %}
  <h1>Topic: {{ topic.name }}</h1>

  <h3>Newspapers:</h3>
  <div class="ml-3">
    {% for newspaper in topic.newspapers.all %}
      <p>
        <strong>Title:</strong>
        <a href="{% url 'bureau:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a>,
        <strong>publish date: </strong>{{ newspaper.published_date }}
      </p>
    {% empty %}
      <p>No newspapers!</p>
    {% endfor %}
  </div>  <br>
  <h3><a class="btn btn-primary" href="{% url 'bureau:topic-update' pk=topic.id %}">Update ✏</a> |
  <a class="btn btn-danger" href="{% url 'bureau:topic-delete' pk=topic.id %}">Delete 🗑</a></h3>
{% endblock %}
