* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.table {
    width: 1500px;
    margin: auto;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

a {
    color: white;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.list-content {
    color: #fff;
}

.table {
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: None;
}

div .container {
    display: flex;
    justify-content: space-between;
}

div .left {
    width: 200px;
    height: 100%;
    background-color: #474646;
    border-radius: 15px;
    padding: 10px;
    border: #009688 solid 5px;
}

div .center {
    width: 200px;
    height: 100%;
    background-color: #474646;
    border-radius: 15px;
    padding: 10px;
    border: #009688 solid 5px;
}

div .right {
    width: 200px;
    height: 100%;
    background-color: #474646;
    border-radius: 15px;
    padding: 10px;
    border: #009688 solid 5px;
}

.form-change {
    margin: auto;
    width: 50%;
    border: 3px solid #009688;
    border-radius: 10px;
    padding: 10px;
}

.detail-content {
    width: 700px;
    margin: auto;
}

.page-link {
    height: 38px;
    width: 100px;
    border-radius: 2px;
    color: black;
}

.redactor-detail {
    margin: auto;
    width: 800px;
    height: 100%;
    background-color: #474646;
    border-radius: 15px;
    padding: 10px;
    border: #009688 solid 5px;
}

.content-list {
    margin: auto;
    width: 400px;
    height: 100%;
    background-color: #474646;
    border-radius: 15px;
    padding: 10px;
    border: #009688 solid 5px;
}

.topic-detail {
    margin: auto;
    width: 800px;
    height: 100%;
    background-color: #474646;
    border-radius: 15px;
    padding: 10px;
    border: #009688 solid 5px;
}
