{% if user.is_authenticated %}
  User: <a href="{% url 'bureau:redactor-detail' pk=user.id %}">{{ user.username }}</a><br>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}
<br>

<ul class="sidebar-nav">
  <li><a href="{% url 'bureau:index' %}">Home page</a></li>
  <li><a href="{% url 'bureau:topic-list' %}">Topics</a></li>
  <li><a href="{% url 'bureau:newspaper-list' %}">Newspapers</a></li>
  <li><a href="{% url 'bureau:redactor-list' %}">Redactors</a></li>
</ul>
